{% extends 'base.html' %}

{% block title %}
Pokemon Search
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}


{% block content %}

<h1 class="head">PokeSearch Page</h1>
<form action="{{url_for('main.pokemon')}}" method="POST">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.pokename.label()}}
    {{form.pokename(class='form-control')}}
  </div>
  {{form.submit_btn(class='btn btn-primary')}}
  <div>
    <strong style="color:red">{{error}}</strong>
  </div>
</form>
{% if new_team %}
      {% for pokemon in new_team %}
        <div class="card mx-auto text-bg-dark bg-dark"  style="width: 18rem;">
            <h5 class="card-title">{{pokemon.name.title()}}</h5> <h5 class="list-group-item">HP: {{pokemon.hp_stat}}</h5>
            <img class="card-img-top" src="{{pokemon.gif_sprite_url}}" alt="Card image cap">
            <ul class="list-group list-group-flush">
            <li class="list-group-item text-white bg-dark">Type: {{pokemon.primary_type.title()}}</li>
            <li class="list-group-item text-white bg-dark">Ability: {{pokemon.ability.title()}}</li>
            <li class="list-group-item text-white bg-dark">Attack: {{pokemon.attack_stat}}</li>
            <li class="list-group-item text-white bg-dark">Defense: {{pokemon.defense_stat}}</li>
            <li class="list-group-item text-white bg-dark">Base Exp: {{pokemon.base_exp}}</li>
            </ul>
            <a href="{{url_for('main.catch_poke', caught_name=new_team[0].name)}}" class="btn btn-primary">Catch</a>
          </div>
        {% endfor %}
  {% endif %}
{% endblock %}