{% extends 'base.html' %}

{% block title%}
    Home
{% endblock %}

{% block content %}
<h1 class="head">Home Page</h1>
<!-- <img src="../static/images/textbox.png" alt="pokemon text box" style="width:100"> -->
<div class="home-text-box">
    <p1 class="home-text">Welcome to Mason's first Full Stack App</p1>
<div class="helpful-div"
    <p1 class="helpful">Here are some helpful links if you're interested in competative pokemon: </p1>
    <!-- <a href="https://www.smogon.com/n">Smogon: Competative pokemon community</a>
        <img src="../static/images/smogon.png" style="float:right,width:100px">
   </div> -->
{% endblock %}